<div id="container-exp">
	<!--Header for stimulus page -->
	<div id="trial">
		<h1>Please Complete The Survey Below!</h1>
		<p>
			Once the survey is complete, you will be able to move to the next step.
		</p>

		<!--Button for finishing-->
		<div>
			<center>
				<button type="button"
						id="finish"
						class="btn btn-success btn-lg continue">
					Finish
				</button>
			</center>
		</div>
	</div>
	<br>
	</br>
	<div>

	<!--iframe where Qualtrics survey will populate -->
	<iframe id="iframe", width="100%", height="1000px">
		</iframe>
	</div>


	<!-- // This script should be inside the task.js file but meh --
	  -- It resizes the Qualtrics survey to fit the Psiturk window. --
	  -- Without this, your survey looks very small. -->
	<script>
		// Selecting the iframe element
		var iframe = document.getElementById("iframe");
		
		// Adjusting the iframe height onload event
		iframe.onload = function(){
			iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
		}
    </script>
</div>
